
.sidebar{
  width: 303px;
  border-right:1px solid #e5e5e5;
  position:fixed;
  top:80px;
  bottom:0;
  height:100%;
  left:49.9px;
  /* overflow:hidden; */
  background:rgba(218, 218, 218);
  /* box-shadow: 0 2px 4px rgba(0,0,0,.5); */
  z-index:2;
  transition: width 0.3s ease;
  border-right: 1px solid rgba(15, 44, 46, 0.808);
}


.side_banner.minimized {
width: 50px;
height: 50px;
border-radius: 50%;
padding: 0;
}
.side_banner.minimized .BannerToggleButton {
width: 50px;
height: 50px;
border-radius: 50%;
margin-left: 0%;
} 
.side_banner.minimized .content {
display: none;
}
.content{
  font-weight: bold;
  text-align: center;
  padding-top: 20px;
  height:fit-content;
  /* margin-top: 0; */
  width: 96%;
  margin: 0 0px 0px 12px;
  color:rgb(0, 0, 0);
  /* display: flex; for displaying straigth */
}
.BannerHeading {
padding-top: 0%;
  font-size: 2rem;
  margin: 0;
  color: rgb(0, 0, 0);
  font-family:Georgia, 'Times New Roman', Times, serif
}

.BannerToggleButton {
  margin-left: 5px;
  /* top:1px; */
  font-size: 1rem;
  padding: 15px;
  border: none;
  border-radius: 50%;
  background-color:rgba(0, 0, 0, 0);
  /* opacity: 0.5; */
  color: #000000;
  cursor: pointer;
  /* transition: all 0.8s ease-in-out; */
}
/* .BannerToggleButton:hover {
 color: #0090f7;
}  */
.BannerToggleButton.minimized {
  padding: 25px;
}
.BannerDetails {
  margin-top: 1rem;
}
.button{
  color:rgb(9, 47, 80);
  outline: none;
  border: none;
  font-weight:700;
  border-radius: 5px;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-right: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: rgb(0, 0, 0);
  cursor: pointer;
  margin-right: 1rem;
}
.button:hover{
  color:rgb(255, 255, 255);
  background-color:black;
}
.description{
  width:17rem;
  line-height: 1.3;
  padding-top:1rem;
  font-size:14px;
  height: 80px;
  /* max-width: 360px; */
}

.BannerTabs {
  text-align: center;
  margin-top: 1rem;
  /* display: flex; */
  margin-bottom: 1rem;
  /* padding: 0 1rem; */
  border-bottom: 1px solid #ccc;
  padding: 0.5rem 0rem;
  font-size: 1.2rem;
  /* margin-right: 1rem; */
  color: #000000;
  cursor: pointer;
}

.BannerTabs ul {
  display: flex;
  list-style: none;
  padding: 1px;;
  margin: 1px;
}

.BannerTabs li {
  padding: .5rem;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: rgba(10, 3, 3, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin-right: 10px;
  width: 200px;
}
.BannerTabs > li.active{
  border-bottom: 5px solid #ffffff;
}
:target{
  border-bottom: 5px solid #ffffff;
}

.BannerTabs li:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.latlong-btn {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border-radius: 7px;
  border: none;
  margin-top: 20px;
  cursor: pointer;
}
.undo{
  gap: 5px;
  margin-left: 10px;
}
.reset{
  gap: 5px;
  margin-left: 5px;
}
.run{
  background-color: rgb(38, 169, 38);
  color:#fafafa;
  margin-left:0px;
  padding: 10px 61px;
  border-radius: 7px;
  cursor: pointer;
  margin-top: 20px;
}

.loding{
  opacity: 0.8;
  width:450px;
  height: 200px;
}

.lat-long-container {
  align-items: center;
  margin-top: 20px;

}
.lat-long-container label {
  font-size: px;
  font-weight: bold;
  margin-right:1px;
  
}

.lat-long-container input {
  width: 150px;
  height: 8px;
  margin-right: 0px;
  display: flex;
  padding:  10px;
  border-radius: 8px;
  border: 1px solid #fafafa;
  font-size: 14px;
  font-family: Arial, sans-serif;

}

.lat-long-container .input-row {
  display:flex;
  align-items: center; /* Vertically align label and input */
  gap: 10px; /* Adjust the gap between label and input as needed */
  padding: 5px 1px;
}

.lat-long-container .input-row label {
  font-size: 14px; /* Adjust font size as needed */
  font-weight: bold;
}
.lat-long-container input:focus {
  outline: none;
  border-color: #3f51b5;
  box-shadow: 0 0 0 2px rgba(63, 81, 181, 0.2);
}


